@import 'src/Style/_constants.scss';

.classMenuElems{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 19px 0 0;
  @media #{$mq-sm}{
    min-width: 127px;
    margin: 0 36px 0 0;
    &:last-child{
      margin-right: 0;
    }
  }
  @media #{$mq-md}{
    min-width: 180px;
    margin: 0 56px 0 0;
  }
  li{
    list-style: none;
  }
}