@import 'src/Style/_constants.scss';
@import 'src/components/Presentational/Icon/Themes/Icon.wc.scss';
@import 'src/components/Presentational/InfoIcon/Themes/InfoIcon.wc.scss';
@import 'src/components/Presentational/Accordion/Themes/Accordion.wc.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/MenuDesktop/menuDesktop.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/InfoIconsList/infoIconsList.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/MenuCloseIcon/menuCloseIcon.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/MenuMobile/menuMobile.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/OverlayWhenMenuIsOpen/OverlayWhenMenuIsOpen.scss';

.classHeader {
  background: $brand-colour-1;
  font-weight: $font-weight-bold;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  
  z-index: $z-index-header;
  @media #{$mq-sm}{
    position: relative;
  }
  @media #{$mq-md}{
    padding: $header-padding-top 20px $header-padding-top 35px;
  }
  ci-search {
    margin-top: 10px;
  }

  .infoIconsListWrapper {
    background: $brand-colour-1;
    height: 100%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$mq-sm} {
      align-items: stretch;
    }
    min-width: $header-min-height;
    height: 66px;
  }

  &Logo {
    align-self: center;
    margin-right: 30px;
    width: 139px;
    height: 26px;
  }

  &FirstRow {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background: $brand-colour-1;
  }
}

.classMenuDesktopMainCategoryTitleContainer {
  margin-right: 15px;
  @media #{$mq-md}{
    margin-right: 10px;
  }

  a {
    color: $white;
    text-decoration: none;
    display: flex;
    font-size: 1rem;
  }
}
