@import 'src/Style/_constants.scss';

.classMenuSubElem{
  list-style: none;
  margin: 17.5px 0;
  a {
    color: $black;
    font-family: $primary-font;
    font-size: $primary-p-small-font-size;
    text-decoration: none;
    &:hover{
      font-weight: $font-weight-bold;
      font-family: $primary-font-bold;
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
  a.classMenuSubElemActive{
    color: $brand-colour-1;
  }
}