@import 'src/Style/_constants.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/MenuMobileStaticLink/menuMobileStaticLink.scss';

.classMenuMobile{
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  transition: $transition-fast ease-out;
  overflow-y: auto;
  z-index: $z-index-header;
  
  &.classMenuMobileOpen {
    left: 0;
  }

  &FirstRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 30px 20px;
  }

  &ExternalText{
    display: block;
    font-size: $primary-p-xs-font-size;
    color: $white;
    margin-top: 3px;
    font-family: $primary-font;
    text-align: center;
  }

  &InternalText{
    color: $black;
    font-family: $primary-font-bold;
    font-weight: $font-weight-bold;
    font-size: 20px;
    line-height: 28px;
  }

  &Clickable{
    cursor: pointer;
    margin-top: 0;
    @media #{$mq-sm} {
      margin-top: 13px;
    }
  }

  &Accordion{
    padding: 0 20px;
    /* Fixes issues on some mobile devices where text is covered by elements beneath the menu */
    background-color: $white;
    border: 1px solid $white;
  }

  &UserFullName{
    padding: 0 0 32px;
    text-align: center;
  }

  &ExtendStyleAccordion{
    > div {
      padding-left: 10px;
      padding-right: 9px;
    }
    span {
      font-size: $primary-p-font-size;
    }
  }
  
  &NoSroll{
    overflow: hidden;
  }
}
