@import 'src/Style/_constants.scss';

.classMenuTriangleUp {
  width: 0; 
  height: 0; 
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 21px solid $white;  
}

.classMenuTriangleUpContainer{
  display: none;
  position: absolute;
  bottom: -12px;
  left: -8px;
  z-index: $z-index-menuDesktopTriangleUp;
  &.showTriangle{
    display: inherit;
  }
}
