@import 'src/Style/_constants.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/MenuElems/menuElems.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/MenuSubElems/menuSubElems.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/MenuSubElem/menuSubElem.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/SubCategoryTitle/subCategoryTitle.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/MenuTriangleUp/menuTriangleUp.scss';

.classMenuDesktop{
  position: relative;
  display: flex;
  white-space: nowrap;
  font-family: $primary-font;

  &MainCategory{
    display: flex;
    align-items: center;
    color: $white;
    cursor: pointer;
    position: relative;
  }
  
  &MainCategoryTitleContainer{
    display: flex;
  }
  
  &SubCategory{
    display: none;
    position: absolute;
    top: ($header-padding-top * 2) + $header-min-height; // Header's min-height + padding top and bottom
    background-color: $white;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.1);
    padding: 0 32px 26px;
    cursor: auto;
    margin-left: -15px;
    left: 0;
  }

  &Open{
    .classMenuDesktopSubCategory{
      display: flex;
    }
  }

  &MenuIsOpenButIAmNotActive{
    color: $white;
  }
}
