@import 'src/Style/_constants.scss';

.classOverlayWhenMenuIsOpen{
  display: none;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0.5;
  z-index: $z-index-header-overlay;
  position: fixed;
  top: 0;
  left: 0;
  &.classOverlayWhenMenuIsOpenVisible{
    display: initial;
  }
}