@import 'src/Style/_constants.scss';
@import 'src/components/WhatcarSpecific/HeaderWc/subComponents/Login/login.scss';

.classInfoIconsList {
  display: flex;
  height: 100%;

  > .classInfoIconsListElem {
    border-left: 1px solid $header-icon-border;
  }

  > a {
    border-left: 1px solid $header-icon-border;
  }
  > a:last-child {
    border-right: 1px solid $header-icon-border;
    margin-right: 5px;
  }

  a:link {
    text-decoration: none;
  }

  &Elem {
    padding: 0 9px;
    text-decoration: none;
  }

  &MyDeals {
    .classIcon {
      width: 35px;
      height: 35px;
    }

    svg {
      width: 35px;
      height: 35px;
    }
  }
}
