@import 'src/Style/_constants.scss';

.classLogin {
  &MenuSubCategory {
    @media #{$mq-sm}{
      left: -73.5px;
    }
    @media #{$mq-md}{
      left: -100px;
    }
  }

  &UserLoggedOut {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $primary-font;
    font-weight: $font-weight-regular;
    background-color: $brand-colour-2;
    font-size: $font-size-base;
    width: 26px;
    height: 26px;
    color: $white;
    text-decoration: none;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &UserLoggedIn {
    display: flex;
    flex-direction: column;
    align-items: center;

    > span {
      font-family: $primary-font;
      font-size: $primary-p-small-font-size;
      line-height: $primary-p-small-line-height;
      font-weight: $font-weight-light;
      text-decoration: none;
      color: $white;
      margin-top: -8px;
      letter-spacing: -0.47px;
    }
  }
}
