@import 'src/Style/_constants.scss';

.classMenuMobileStaticLinks{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  a {
    border-top: 2px solid $greyscale-palette-1;
    padding: 13px 15px 13px 10px;
    text-decoration: none;
    color: $secondary-colour-3;
    font-size: $primary-p-font-size;
    font-family: $primary-font-bold;
    font-weight: $font-weight-bold;
    &.classMenuMobileStaticLinkLogout{
      font-family: $primary-font;
      font-weight: $font-weight-regular;
    }
    &:first-child{
      border-top: 0;
    }
  }
}
