@import 'src/Style/_constants.scss';

.subCategoryTitle{
  display: flex;
  justify-content: space-between;
  color: $greyscale-palette-4;
  font-family: $primary-font;
  font-size: $primary-p-small-font-size;
  border-bottom: 1px solid $greyscale-palette-2;
  margin: 19px 0 3px $header-menu-elems-padding-left; // share same padding with the uls in menuElems
  padding-bottom: 10px;
  padding-top: 20px;
  > span {
    white-space: normal;
    word-wrap: break-word;
    max-width: 150px;
  }
  @media #{$mq-sm}{
    padding-left: 0;
    margin: 0;
  }
}
